body{
    background-color: #efefef;
    color: #3d4451;
}
a{
    color: inherit;
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}
hr{
    height: 0;
    border: none;
    border-top: 1px solid #dedede;
}
ul,ol{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.topNavBar{
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.topNavBar-inner{
    padding: 0 16px;
}
.topNavBar .logo{
    font-family: 'Arial Black';
    font-size: 24px;
    padding-top: 3px;
    padding-bottom: 4px;
}
.topNavBar .logo .rs{
    color: #e6686a;
    margin-right: 4px;
}
.topNavBar .logo .card{
    color: #9a9da2;
}
.topNavBar nav{
    padding-top: 8px;
}
.topNavBar nav>ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.topNavBar nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
.topNavBar nav>ul>li>a{
    font-size: 12px;
    color: #b7b7b7;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    display: block;
}
.topNavBar nav>ul>li>a:hover{
    border-bottom: 3px solid #e06567;
}
.banner{
    height: 515px;
    background-image: url(./img/rs-cover.jpg);
    background-position: center center;
    background-size: cover;
}
.banner .mask{
    height: 515px;
    background-color: rgba(0,0,0,0.8);
}
.userCard{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto; 
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.userCard .welcome{
    display: inline-block;
    background-color: #e6686a;
    color: white;
    padding: 4px 15px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
}
.userCard .welcome .triangle{
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-top-width: 0px;
    border-left-color: #e6686a;
    position: absolute;
    left: 4px;
    top: 100%;
}
.userCard .picture{
    float: left;
}
.userCard .text{
    float: left;
    margin-left: 65px;
    width: 470px;
}
.userCard .pictureAndText{
    padding: 50px;
}
.text h1{
    margin-top: 18px;
}
.text hr{
    margin: 20px 0;
}
.text dl dt,.text dl dd{
    float: left;
    padding: 5px 0;
}
.text dl dt{
    width: 30%;
    font-weight: bold;
}
.text dl dd{
    width: 70%;
    color: #9da0a7;
}
.userCard .media{
    background-color: #e6686a;
    text-align: center;
}
.userCard .media a{
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    margin: 16px;
}
.userCard .media a:hover{
    background-color: #d05d60;
}
.userCard svg{
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}
body > main{
    margin-top: -350px;
}
body > main .downloadResume-wrapper{
    text-align: center;
}
body > main .downloadResume{
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    border: 1px solid #cdcfd1;
    display: inline-block;
    border-radius: 2px;
    font-weight: bold;
    margin: 30px 0;
    transition: box-shadow 0.3s;
}
body > main .downloadResume:hover{
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
body > main .selfIntroduction{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    font-family: youyuan;
    font-size: 18px;
    line-height: 1.8;
}

section.skills,section.portfolio{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 60px;
}
section.skills > h2,
section.portfolio > h2{
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
}
section.skills h3{
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}
section.skills > ol{
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    padding: 40px 50px 10px;
    margin-top: 30px;
}
section.skills > ol > li{
    float: left;
    width: 48%;
}
section.skills > ol > li:nth-child(even){
    float: right;
}
section.skills .processBar{
    height: 5px;
    background: #fae1e1;
    border-radius: 2px;
    margin: 4px 0 40px;
}
section.skills .process{
    height: 100%;
    background: #e6686a;
    width: 70%;
    border-radius: 2px;
}
section.portfolio{
    text-align: center;
}
section.portfolio > nav{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    margin-bottom: 30px;
}
section.portfolio > nav > ol{
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}
section.portfolio > nav > ol > li{
    float: left;
    margin-left: 40px;
    cursor: pointer;
}
section.portfolio > nav > ol > li:nth-child(1){
    margin-left: 0;
}
section.portfolio > nav .bar{
    height: 5px;
    background: #fff;
    margin-top: 10px;
    border-radius: 2px;
}
section.portfolio > nav .bar-inner{
    height: 100%;
    background: #e6686a;
    border-radius: 2px;
    transition: all 0.3s;
}
section.portfolio > nav .bar.state-1 .bar-inner{
    width: 33px;
    margin-left: 0;
}
section.portfolio > nav .bar.state-2 .bar-inner{
    width: 33px;
    margin-left: 72px;
}
section.portfolio > nav .bar.state-3 .bar-inner{
    width: 91px;
    margin-left: 144px;
}

section.portfolio .works{
    position: relative;
    margin-bottom: 100px;
}
section.portfolio .works .big,
section.portfolio .works .small{
    position: absolute;
    padding: 0 10px;
}

    